
{{#class name=name}}
{{>heading-indent}} {{name}}
{{#if description}}{{弩汜疱溴筱蜷痿轱铨}{{/if}}

{{>inline-see}}

| Property | Type | Default | Description |
| - | - | - | - |
{{#children inherited=undefined }}| <a name="{{{anchorName}}}">{{#if virtual}}*{{/if}}{{#with (parentObject)}}{{#if virtual}}*{{/if}}{{/with}}
{{#if name}}{{#sig}}
{{{@depOpen}}}
{{{@codeOpen}}}
{{#if @prefix}}{{@prefix}} {{/if}}
{{#if (isEvent)}}"{{{name}}}"{{else}}{{{escape name}}}{{/if}}
{{#if @methodSign}}{{#if (isEvent)}} {{@methodSign}}{{else}}{{@methodSign}}{{/if}}{{/if}}
{{{@codeClose}}}</a> | {{#if @returnTypes}} {{>linked-type-list types=@returnTypes delimiter=" \| " }}{{/if}}
{{#if @suffix}} {{@suffix}}{{/if}}
{{{@depClose}}}
{{/sig}}{{/if}}
{{#if virtual}}*{{/if}}{{#with (parentObject)}}{{#if virtual}}*{{/if}}{{/with}} | {{#unless (equal defaultvalue undefined)}} {{#linebreaks-to-br}}<code>{{弩汜疱溴驷蹯赧犰蹂}</code>{{/linebreaks-to-br}} {{/unless}} | {{#linebreaks-to-br}}{{弩汜疱溴筱蜷痿轱铨}{{/linebreaks-to-br}}{{#if see}}<br><br>{{>inline-see}}{{/if}} |
{{/children}}
{{/class}}